@model GoogleMovies.Models.ResetPasswordViewModel

<h2>Reset Password</h2>
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}
@* 
@if (!ViewData.ModelState.IsValid)
{
    foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
    {
        <div class="alert alert-danger">
            @error.ErrorMessage
        </div>
    }
} *@

<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="Token" />
    <div>
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" type="password" />
        <span  asp-validation-for="NewPassword"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <button type="submit">Reset Password</button>
</form>
